.cancellation {
    height: 90vh;
    display: flex;
    align-items: center;
    &__inner {
        padding: 10px;
        border-radius: 10px;
        background: #f5f5f5  !important;

    a {
        display: block;
        margin: 20px 0 0 0px;
        text-decoration: underline;
        font-size: 20px;
        font-weight: 500;
        color: rgb(34, 178, 99);
    }
    .sendData {
        margin: 20px auto !important;
        width: 100% !important;
    }
}

}