.dateChoice {
  &__inner {
    p {
      text-align: center;
      padding: 20px 0;
    }
    .react-calendar {
      padding: 20px;
      width: 100%;
      max-width: 600px;
      border-radius: 15px;
      margin: 0px auto 0;
      border: none;
      box-shadow: 10px 10px 45px rgba(41, 43, 51, 0.027);
      @media screen and (max-width: 600px) {
        padding: 20px 5px;
      }
    }

    .react-calendar__month-view__weekdays {
      abbr {
        text-decoration: none;
        font-size: 17px;
        font-weight: 500;
        color: #000 !important;
        font-family: "Inter", sans-serif;
      }
    }

    .react-calendar__navigation__label {
      > span {
        font-size: 20px;
        font-weight: 400;
        color: #000;
        font-family: "Inter", sans-serif;
        // border: 1px solid #000;
        // padding: 5px 10px;
        // border-radius: 8px;
      }
    }
    .react-calendar__tile--now {
      background: transparent;
      border-radius: 8px;
      abbr {
        color: #008899 !important;
        text-decoration: underline !important;
        font-weight: 600;
        font-family: "Inter", sans-serif;
      }
    }
    .react-calendar__month-view__days__day {
      abbr {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        font-family: "Inter", sans-serif;
      }
    }
    .react-calendar__tile--active {
      background-color: #008899 !important;
      font-weight: 600;
      width: 20px !important;
      border-radius: 8px;
      color: #fff !important;
      box-shadow: 0 0 0 1px rgba(130, 131, 153, 0.1),
        0 2px 5px 0 rgba(43, 45, 80, 0.08), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07),
        0 1px 2px 0 rgba(0, 0, 0, 0.08);
      abbr {
        color: #fff !important;
      }
    }
    .react-calendar__month-view__days__day:hover {
      background: none;
      border: none;
    }
    .react-calendar__navigation {
      button:hover {
        background: none;
        border: none;
      }
    }

    .react-calendar__tile:disabled {
      background: transparent;
      abbr {
        color: #a09f9f;
        font-family: "Inter", sans-serif;
      }
    }

    .react-calendar__navigation__prev2-button {
      display: none;
    }
    .react-calendar__navigation__next2-button {
      display: none;
    }
  }
  &__times {
    padding: 0 0 100px;
    .listtime {
      button {
        background: #eaeef4;
      }
    }
  }
}
