.alertBlock {
    background: #008899;
  .text {
    color: #fff;
    // font-family: Gilroy;
    font-size: 54px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
