.basket {
  position: fixed;
  z-index: 99;
  right: 180px;
  bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @media screen and (max-width: 800px) {
    right: 120px;
    @media screen and (max-width: 620px) {
      right: 90px;
      bottom: 110px;
      @media screen and (max-width: 500px) {
        right: 40px;
        bottom: 80px;
        
      }
    }
  }
  button {
    width: 75px;
    height: 75px;
    padding: 10px;
    border-radius: 50%;
    background: #f4439f;
    border: 2px solid #000;
    @media screen and (max-width: 560px) {
      width: 55px;
      height: 55px;
    }
    img {
      border-radius: 50%;
    }
  }
}
