.addresLayouts {
  &__inner {
    background: #fff;
    position: relative;
    padding: 120px 0 0 0;
    width: 100%;
    @media screen and (max-width: 600px) {
      padding: 100px 0 0 0;
    }
  }

  &__addres {
    width: 1400px;
    margin: 0 auto;
    padding: 30px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 1460px) {
      width: 100%;
      padding: 30px 20px;
    }
    .arrowImg {
      height: 22px;
      width: 22px;
      display: none;
    }
    .round {
      width: 100px;
      height: 100px;
      margin: 0 0 10px 0;
      background: #008899;
      border-radius: 50%;
    }
    h4 {
      font-family: "Inter", sans-serif;
      color: #001b1f;
      font-size: 24px;
      font-weight: 700;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: #808080;
      margin: 5px 0 0 0;
      font-family: "Inter", sans-serif;
    }
  }
  .push {
    height: 150px;
    max-width: 100%;
    background: #f5f5f5;
    @media screen and (max-width: 600px) {
      height: 100px;
    }
  }
}
.otherPage {
  .addresLayouts__inner {
    padding: 80px 0 0 0;
  }
  .addresLayouts__addres {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    .arrowImg {
      display: block;
    }
  }
  .round {
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .push {
    height: 0;
  }
  h4 {
    font-size: 16px;
    font-weight: 500;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    margin: 2px 0 0 0;
  }
}
