.addres {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px 30px;
    flex-wrap: wrap;
    height: 100%;
    @media screen and (max-width: 1110px) {
      gap: 20px;
      @media screen and (max-width: 900px) {
        justify-content: center;
      }
    }
    .map {
      background: #fff;
      border-radius: 8px !important;
      width: 660px;
      box-shadow: 10px 20px 80px #292b3350;
      @media screen and (max-width: 1390px) {
        max-width: 630px;
        @media screen and (max-width: 1393px) {
          width: 47%;
          @media screen and (max-width: 1110px) {
            width: 48%;
            @media screen and (max-width: 900px) {
              width: 80%;
              @media screen and (max-width: 700px) {
                width: 570px;
                @media screen and (max-width: 610px) {
                  max-width: 570px;
                  width: 100%;
                  box-shadow: 10px 20px 80px #292b331c;
                }
              }
            }
          }
        }
      }

      &__inner {
        height: 300px;
        width: 100%;
        @media screen and (max-width: 480px) {
          height: 180px;
        }
        .ymaps-2-1-79-gotoymaps__container {
          display: none !important;
        }
        .ymaps-2-1-79-map-copyrights-promo {
          display: none !important;
        }
        .ymaps-2-1-79-copyright__wrap {
          display: none !important;
        }
      }
      &__contects {
        background: #fff;
        padding: 20px 10px 10px 10px;
        border-radius: 0 0 8px 8px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .texts {
          width: 90%;
          h3 {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #292b33;
            font-family: "Inter", sans-serif;
          }
          p,
          span {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #808080;
            margin: 5px 0 0 0;
            font-family: "Inter", sans-serif;
          }
        }
        .actionLink {
          button {
            background: transparent;
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}
