.spec {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
  cursor: pointer;
  gap: 20px;
  @media screen and (max-width: 1440px) {
    justify-content: space-around;
  }
  &__every {
    width: 453px;
    background-color: rgba(255, 255, 255, 0.590);
    padding: 10px;
    border-radius: 8px;
    @media screen and (max-width: 970px) {
      width: 560px;
    }

    &:hover {
      transition: 0.5s;
      transform: scale(1.03);
    }
  }
  &__content {
    &__more {
      display: flex;
      align-items: center;
      gap: 15px;

      .mainLogo {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        > img {
          border-radius: 50%;
          object-fit: contain;
        }
      }
      .mainText {
        display: flex;
        flex-direction: column;
        gap: 0px;
        &__rating {
          display: flex;
          align-items: center;
          gap: 8px;
          .star {
            display: flex;
            align-items: center;
            gap: 3px;
            > img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
  &__decrip {
    padding: 15px 5px;

    .times {
      display: none;
      height: 150px;
    }
    p {
      height: 82px; /* Максимальная высота блока */
      overflow-y: hidden; /* Скрытие вертикального скроллбара, текст выходит за границы */
      display: -webkit-box;
      -webkit-line-clamp: 4; /* Количество отображаемых строк текста */
      -webkit-box-orient: vertical;
      margin: 0 0 20px 0;
      position: relative;
      line-height: 20px;
    }
    h4,
    h6 {
      margin: 5px 0 0 0;
      font-size: 20px;
      &:hover {
        color: red;
        font-size: 21px;
        transition: 0.5s;
        text-decoration: underline;
      }
    }
    // p::-webkit-scrollbar {
    //   width: 10px;
    //   width: 0;
    // }

    // p::-webkit-scrollbar-thumb {
    //   background-color: rgb(233, 165, 177); /* Цвет ползунка скроллбара */
    //   border-radius: 6px; /* Скругление углов ползунка скроллбара */
    //   width: 5px;
    // }

    // p::-webkit-scrollbar-track {
    //   background-color: #f0f0f0; /* Цвет трека скроллбара */
    //   border-radius: 6px; /* Скругление углов трека скроллбара */
    // }
  }
}
