* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  // font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  background: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (max-width: 420px) {
    padding: 0 15px;
  }
}

.containerMini {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
}

.noneData {
  display: none;
}
.viewData {
  display: block;
}

.noneDataa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  @media screen and (max-width: 650px) {
    font-size: 20px;
  }
}

.zakaz {
  position: fixed;
  z-index: 99;
  right: 180px;
  bottom: 150px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  background: #008899;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  animation: zakazAnimation 3s infinite;
  @media screen and (max-width: 900px) {
    right: 80px;
    @media screen and (max-width: 620px) {
      bottom: 110px;
      font-size: 16px;
      width: 150px;
      height: 35px;
      @media screen and (max-width: 600px) {
        height: 42px;
        bottom: 20px;
        width: 90%;
        left: 0px;
        right: 0px;
        margin: 0 auto;
      }
    }
  }
}

.listtime {
  display: flex;
  align-items: center;
  gap: 10px 5px;
  flex-wrap: wrap;
  margin: 15px 0 0 0;
  > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    border-radius: 20px;
    color: #222;
    border: 1px solid #ededed;
    background-color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    white-space: nowrap;
    width: 32%;
  }
  .activeTime {
    background: #008899 !important;
    color: #fff;
  }
}
