* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
}
html {
  background: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.noneData {
  display: none;
}
.viewData {
  display: block;
}
