* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  // font-family: 'Geologica', sans-serif;
  // line-height: 20px;
  background: transparent;
  // font-family: "PT Sans", sans-serif;
  // font-style: normal;
  font-family: 'Kurale', serif;
  line-height: normal;
  // color: #222;
}

html {
  background: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  // font-family: 'Geologica', sans-serif;
  font-family: 'Kurale', serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  @media screen and (max-width: 420px) {
    padding: 0 10px;
  }
}

.noneData {
  display: none;
}
.viewData {
  display: block;
}

.noneDataa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  @media screen and (max-width: 460px) {
    font-size: 20px;
  }
}

.zakaz {
  position: fixed;
  z-index: 99;
  right: 180px;
  bottom: 150px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  background: #e484ba;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Kurale', serif;
  font-style: normal;
  line-height: normal;
  animation: zakazAnimation 3s infinite;
  @media screen and (max-width: 900px) {
    right: 80px;
    @media screen and (max-width: 620px) {
      bottom: 110px;
      font-size: 16px;
      width: 150px;
      height: 35px;
      @media screen and (max-width: 500px) {
        height: 42px;
        bottom: 20px;
        width: 90%;
        left: 0px;
        right: 0px;
        margin: 0 auto;
      }
    }
  }
}

@keyframes zakazAnimation {
  0% {
    opacity: 1;
    background-color: rgb(218, 155, 166);
    color: #fff;
    border: 1px solid #fff;
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
  }
}
