* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Geologica', sans-serif;
  line-height: 20px;
  background: transparent;
}
html {
  background: transparent;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Geologica', sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.noneData {
  display: none;
}
.viewData {
  display: block;
}
